body {
    margin: 0;
    background: #232323;
    font-family: 'Avenir', 'Montserrat', sans-serif;
}

#container {
    margin: 0 auto;
    max-width: 600px;
}

.square {
    width: 30%;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    transition: all 300ms;
}

h1 {
    margin: 0;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    color: white;
    background: steelblue;
    line-height: 1.1;
    padding: 20px 0;
}

#stripe {
    background: white;
    height: 30px;
    color: black;
    text-align: center;
}

.selected {
    background: steelblue;
    color: white;
}

#colorDisplay {
    font-size: 200%;
}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    color: steelblue;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 300ms;
    outline: none;
}

button:hover {
    background: steelblue;
    color: white;
}

#message {
    display: inline-block;
    width: 20%;
}